# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# PyTorch checkpoints
checkpoints/
*.pth
*.pt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db